.bg-sour-lemon
{
    background-color: #ffeaa7;
}

.bg-soothing-breeze
{
    background-color: #b2bec3;
}

.bg-first-date
{
    background-color: #fab1a0;
}

.bg-bright-yarrow
{
    background-color: #fdcb6e;
}

.bg-faded-spray
{
    background-color: #82ccdd;
}

.bg-paradise-green
{
    background-color: #b8e994;
}

.bg-golden-sand
{
    background-color: #eccc68;
}

.bg-jalapeno-red
{
    background-color: #b71540;
}

.bg-mandarin-red
{
    background-color: #e55039;
}

.page-item.active .page-link {
    z-index: 0;
}