body {
    background-color:  #dfe6e9;
    background-image: url('../assets/backgrounds/interlaced.png');
    background-repeat: repeat;
    margin-bottom: 70px;
}

.bg-sour-lemon
{
    background-color: #ffeaa7;
}

.bg-flat-flesh
{
    background-color: #fad390;
}

.bg-soothing-breeze
{
    background-color: #b2bec3;
}

.bg-first-date
{
    background-color: #fab1a0;
}

.bg-bright-yarrow
{
    background-color: #fdcb6e;
}

.bg-faded-spray
{
    background-color: #82ccdd;
}

.bg-paradise-green
{
    background-color: #b8e994;
}

.bg-golden-sand
{
    background-color: #eccc68;
}

.bg-jalapeno-red
{
    background-color: #b71540;
}

.bg-meant-leaf
{
    background-color: #00b894;
}

.bg-mandarin-red
{
    background-color: #e55039;
}

.bg-pink-glamour
{
    background-color: #ff7675
}

.bg-electron-blue
{
    background-color: #0984e3
}

.page-item.active .page-link {
    z-index: 0;
}

.subtle-shadow {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.subtle-corners
{
    border-radius: 4px;
}

.btn-outline-danger
{
    background-color: #fff;
}

.velcro-bg
{
    background-image: url(../assets/backgrounds/velcro.png);
    background-repeat: repeat;
}

.bg-salesman-foot
{
    background-color: #b71540;
}

.fg-salesman-foot
{
    color: #ffffff;
}

.bg-salesman-head
{
    background-color: #b71540;
}

.fg-salesman-head
{
    color: #ffffff;
}


.bg-admin-head
{
    background-color: #273c75;
}

.fg-admin-head
{
    color: #ffffff;
}

.bg-admin-foot
{
    background-color: #273c75;
}

.fg-admin-foot
{
    color: #cccccc
}

.bg-anon-head
{
    background-color: #7f8fa6;
}

.fg-anon-head
{
    color: #ffffff;
}

.bg-anon-foot
{
    background-color: #7f8fa6;
}

.fg-anon-foot
{
    color: #cccccc
}


