.bg-sour-lemon
{
    background-color: #ffeaa7;
}

.bg-soothing-breeze
{
    background-color: #b2bec3;
}

.bg-first-date
{
    background-color: #fab1a0;
}

.bg-bright-yarrow
{
    background-color: #fdcb6e;
}




.page-item.active .page-link {
    z-index: 0;
}